.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 30%;
  bottom: 0px;
  background-color: rgba(0, 0, 255, 0.477);
  width: 200px;
  height: 50px;
}
.button {
  margin: 5px;
  background-color: antiquewhite;
  width: 20px;
  height: 20px;
  border: none;
}
.button:active {
  background-color: brown;
}
