
.form{
    width: 450px;
    position: relative;
    
    padding: 20px;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    
    align-items: center;

    border-radius: 10px;

    background-color: aliceblue;
    
  
}

.items{
    display: block;
  
   
}
.input{
    display: block;
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
}

.buttonClose{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top:20px;
    right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.116);
   border: 0;
   transition: all 250 cubic-bezier(0.79, 0.33, 0.14, 0.53);
    
}
.buttonClose:active{
    background-color: rgba(0, 0, 0, 0.316)}
    
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.227);
}
