
.form{
    position: relative;
    padding: 100px;
    display: block;
    margin-left: auto;
    
    align-items: center;

    border-radius: 10px;

    background-color: aliceblue;
    
  
}

.items{
    display: block;
    width: 200px;
   
}
.button{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(0, 0, 255, 0.331);
    border-radius: 5px;
}

.buttonClose{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top:20px;
    right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.116);
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.227);
}
