.thamb {
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 0px 16px 8px #56555566;
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
}
.text {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.itemFilter {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
}

.checkbox {
  margin-left: auto;
  width: 30px;
  height: 30px;
}
.select {
  width: 100%;
  margin-left: 10px;
}
