
.container{
    display: flex;
    align-items: center;
    margin-left: auto;
}


   

.button{
    width: 100px;
    height: 40px;
  
    background-color: rgba(0, 0, 255, 0.331);
    border-radius: 5px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.227);
    box-shadow: 1px 2px 27px 1px rgba(0,0,0,0.67);

    font-size: 14px;
}
